

.padre {
	background-color: blue;
	width: 400px;
	height: 400px;

}

.hijo {
	height: 20%;
	width: 20%;
	background-color: #E5E8E8;
/*	transition: transform 1s ease-in 2s; */
/** transition: transform 1s cubic-bezier(0.4, 0, 0.25, 1.3); */
    animation: traslacion 5s ease-in-out infinite forwards alternate;
}

.padre:hover .hijo{
/*	transform: translateX(100%); 
	background-color: blueviolet; */
     animation-play-state: paused;
}

/*fotogramas claves*/

@keyframes traslacion{
    0% {
    	background-color: #brown;
    	transform: translateX(0%);
    }
    25% {
    	transform: translateX(100%) translateY(0%);
    }
    50% {
    	transform: translateX(100%) translateY(100%);
    }
    75% {
    	transform: translateX(0%) translateY(100%);
    }
    100% {
    	background-color: darkorange;
    	transform: translateX(0%) translateY(0%);
    }
   
}